.modal {
  position: fixed;
  top: 0;
  left: 0;
  width:100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: block;
}

.modalmain {
  position:fixed;
  background: white;
  width: 26%;
  height: 75%;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  max-height: 100vh;
  overflow-y: auto;
  font-family: Helvetica;
  font-size: 16px;
  padding-left: 60px;
  padding-right: 30px;
  padding-top: 30px;
  padding-bottom: 60px;
  border-radius: 4px;
  display:flex;
  flex-direction: column;
  text-align: left;
}

.textContainer {
  padding-right: 30px;
  padding-top: 30px;
}

.itemCostContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.costContainer {
  text-align: right;
}

.yourCart {
  font-size: 25px;
  text-align: center;
  margin-bottom: 20px;
}

.item {
  display: flex;
  flex-direction: row;
  width: 100%;
  border-bottom: 1px solid rgb(233, 231, 231);
  margin-top: 10px;
  padding-bottom: 10px;
  justify-content: space-between;
}

.imageContainer {
  height: 100px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  max-width: 100px;
  max-height: 100px;
  object-fit:scale-down;
}

.itemInfo {
  width: 45%;
  display: flex;
  flex-direction: column;
  margin-top: 25px;
}

.priceContainer {
  display: flex;
  justify-content: space-between;
}

.subtotal {
  font-weight: bold;
  margin-top: 20px;
}

.delivery, .taxes, .total {
  margin-top: 20px;
  margin-bottom: 20px;
}

.total {
  font-weight: bold;
  font-size: 18px;
}

.button {
  margin-left: 25%;
  font-size: 16px;
  margin-top: 0.3em;
  padding: 14px 0px;
  width: 50%;
  line-height: 21px;
  border-radius: 8px;
  transition-property: color;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
  color: rgb(255, 255, 255);
  background-color: rgb(236, 110, 85);
  border: 2px solid rgb(236, 110, 85);
}

.button:hover {
  opacity: 0.5;
}

.delete {
  float: right;
  cursor: pointer;
}

.close {
  text-align: right;
  font-size: 20px;
  cursor: pointer;
}